<div ng-controller="mainctrl">
    <body class="main">
        <h1 id='a'>The Issue Tracker</h1>
        <div class= 'nav'>
            <a href='#' id='one'>View Projects</a>
            <a href='#' id='two'>Assigned Issues</a>
            <a href='#' id='three'>My home</a>
            <a ng-click="logout" id='four' href='#logout'>logout</a>
            <a href='#create_project' id='five'>Create Project</a>
        </div>
       <div ng-repeat='project in projects'>
            <p> {{project.name}}</p>
            <p> {{project.description}}</p>
            <p> create issue</p>
            <p> assign issue </p>
        </div>
            
    </body>
</div>

